html, body {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: SHRIMP;
    src: url("./SHRIMP.ttf");
}

@font-face {
    font-family: GenEiGothicN-Bold;
    src: url("./GenEiGothicN-Bold.otf");
}

@font-face {
    font-family: GenEiGothicN-Heavy;
    src: url("./GenEiGothicN-Heavy.otf");
}

@font-face {
    font-family: GenEiGothicN-Regular;
    src: url("./GenEiGothicN-Regular.otf");
}

@font-face {
    font-family: GenEiGothicN-Ligh;
    src: url("./GenEiGothicN-Ligh.otf");
}

@font-face {
    font-family: GenEiGothicN-ExtraLigh;
    src: url("./GenEiGothicN-ExtraLigh.otf");
}